* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1546710237-057a5519a3d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#header-h1-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px whitesmoke;
}

#header-h1 {
  font-size: 36px;
  background: -webkit-linear-gradient(60deg, blue, cyan, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bot-builder-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px 0 30px 0;
  /* flex-wrap: wrap; */
  /* margin: 10px auto; */
}

.bot-builder-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bot-builder-form > h3 {
  color: white;
  margin: 10px;
}

.bot-builder-form > input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 206px;
  margin-top: 4px;
  margin-bottom: 2px;
}

label {
  text-align: left;
  width: 220px;
  margin-top: 5px;
}

#name-input-label {
  color: cyan;
}

#attack-input-label {
  color: red;
}

#hp-input-label {
  color: rgb(34, 218, 34);
}

.bot-builder-form > button {
  width: 240px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 0.8rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(darkblue, blue);
  transition: 0.5s;
}

.bot-builder-form > button:hover {
  cursor: pointer;
  background: linear-gradient(red, rgb(92, 0, 0));
}

.bot-display {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.bot {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0 4px 4px 0 black;
  background: linear-gradient(120deg, #111, grey);
  color: white;
  border-radius: 8px;
  transition: 0.1s;
  padding: 20px 10px 20px 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.bot:hover {
  transform: scale(1.025);
}

.bot > h2 {
  padding-left: 20px;
  padding-right: 20px;
  color: cyan;
}

.bot > p {
  font-weight: bolder;
}
#attack {
  padding-top: 5%;
  color: red;
}
#hp {
  padding-top: 2%;
  padding-bottom: 5%;
  color: rgb(34, 218, 34);
}

.bot > button {
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  background: linear-gradient(90deg, orange, white);
  border: none;
  box-shadow: 0 0 4px red;
  color: black;
  font-weight: bolder;
  border-radius: 3px;
  transition: all 0.2s;
}

.bot > button:hover {
  cursor: pointer;
  background: repeating-linear-gradient(
    45deg,
    rgb(255, 187, 0),
    rgb(255, 187, 0) 10px,
    black 10px,
    black 20px
  );
  box-shadow: 0 0 4px chartreuse;
  transform: scale(1.0125);
  color: white;
  font-weight: 1000;
  font-size: 1.0125rem;
}
